a {margin-right: 7px;}
.main-block_con {
    margin: 30px;
}
form {
    display: inline-flex;
    flex-direction: column;
    width: auto;margin: 30px;
}

/*input, select, textarea {margin-bottom: 10px;margin-top: 10px;outline: none !important;text-shadow:none !important;}*/
/*input, textarea {border:1px solid #eee;padding: 5px;resize: none;border-radius: 5px;}*/

/*test-two*/
#search {
    min-width: 137px;
}
#address {
    background: url(../img/search-mark.png) no-repeat scroll 7px 7px;
    padding-left:30px;
}